@model Website.Models.Home.HomeModel

<h1 class="cover-heading">Instalazy Me</h1>
<p class="lead">Let us like your instagram feed in your behalf.</p>
<p class="lead">
	<a href="@Model.InstalazyLinkUrl" class="btn btn-lg btn-primary">Instalazy me!</a>
</p>