<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="mandrill" xsi:type="Mail"
				smtpServer="smtp.mandrillapp.com"
				smtpPort="587"
				smtpAuthentication="Basic"
				smtpUserName="gleb.teterin@gmail.com"
				smtpPassword="z42SUkpwFMLqG-FW4xPAgw"
				enableSsl="true"
				from="nlog@instalazy.com"
				to="gleb.teterin@gmail.com"
          />
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="mandrill" />
	</rules>
</nlog>